/* ----------------------------------------------------------------
	Custom CSS

	Add all your Custom Styled CSS here for New Styles or
	Overwriting Default Theme Styles for Better Hanlding Updates
-----------------------------------------------------------------*/

.pirocoin-logo-white {
    max-width: 80px;
}

#footer.pirocoin-footer-dark {
    padding: 20px;
}

.validation-summary-errors ul {
    list-style: none;
    padding: 0;
}