@using PaymentSystem.WalletApp.Common
@using PaymentSystem.WalletApp.Data.Models
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<ul class="navbar-nav">
    @if (this.SignInManager.IsSignedIn(this.User))
    {
        if (this.User.IsInRole(WalletConstants.AdministratorRoleName))
        {
            <li is-active-route="active" asp-area="Administration" asp-controller="Dashboard" asp-action="Index">
                <a asp-area="Administration" asp-controller="Dashboard" asp-action="Index">Admin</a>
            </li>
        }
        else
        {
            <li>
                <a asp-area="" asp-controller="Users" asp-action="Profile">Profile</a>
            </li>
        }

        <li class="align-items-center h-auto ml-sm-3">
            <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@this.Url.Action("Index", "Home", new { area = string.Empty })">
                <button type="submit" class="btn btn-outline-primary shadow-none d-none d-sm-block">Logout</button>
            </form>
        </li>
    }
    else
    {
        <li is-active-route="active" asp-area="Identity" asp-page="/Account/Login">
            <a asp-area="Identity" asp-page="/Account/Login">Login</a>
        </li>
        <li class="align-items-center h-auto ml-sm-3">
            <a class="btn btn-primary d-none d-sm-block" asp-area="Identity" asp-page="/Account/Register">Sign Up</a>
        </li>
    }
</ul>
