@{
    Layout = "_Layout.cshtml";
}

@section SecondaryMenu
{
    <div class="bg-primary">
        <div class="container d-flex justify-content-center">
            <ul class="nav secondary-nav">
                <li class="nav-item">
                    <a is-active-route="active" asp-area="" asp-controller="Users" asp-action="Profile" class="nav-link">Profile</a>
                </li>
                <li class="nav-item">
                    <a is-active-route="active" asp-area="" asp-controller="Financials" asp-action="Profile" class="nav-link">Cards & Accounts</a>
                </li>
            </ul>
        </div>
    </div>
}

@section Styles{
    @await this.RenderSectionAsync("Styles", required: false)
}

@section Scripts{
    @await this.RenderSectionAsync("Scripts", required: false)
}


@RenderBody()
