@using PaymentSystem.WalletApp.Web.ViewModels.Administration.Blocks
@model PaymentSystem.WalletApp.Web.ViewModels.Administration.Blocks.BlockIndexAdminViewModel

@{
    Layout = "/Areas/Administration/Views/_AdminLayout.cshtml";
    this.ViewData["Title"] = "Admin Blocks";
}

<div class="container pb-4">
    <partial name="/Areas/Administration/Views/Blocks/BlocksListingAdminPartial.cshtml"
             model="@(new BlockListingAdminPartialModel() {
                        Title = "Blocks",
                        Blocks = this.Model.Blocks
                    })" />

    <pagination class="pagination justify-content-center mt-4 mb-0"
                active-page-class="active"
                disabled-page-class="disabled"
                current-page="@this.Model.CurrentPage"
                total-pages="@this.Model.TotalPages"
                asp-area=""
                boundary="3"
                page-item-class="page-item"
                page-link-class="page-link"
                empty-link-class="page-item d-flex align-content-center flex-wrap text-muted text-5 mx-1">
    </pagination>
</div>
