@model PaymentSystem.WalletApp.Web.ViewModels.Profile.Users.Dashboard.DashboardUser

@{
    var completenessFactors = new[]
    {
        this.Model.HasEmailAdded,
        this.Model.HasPhoneAdded,
        this.Model.HasBankAccountAdded,
        this.Model.HasCardAdded,
    };

    var completeness = (completenessFactors.Count(f => f)) / (double)completenessFactors.Count() * 100;
}

<!-- Middle Panel ============================================= -->
<div class="col-lg-9">

    <!-- Profile Completeness =============================== -->
    <div class="bg-light shadow-sm rounded p-4 mb-4">
        <h3 class="text-5 font-weight-400 d-flex align-items-center mb-3">Profile Completeness <span class="bg-light-4 text-success rounded px-2 py-1 font-weight-400 text-2 ml-2">@($"{completeness}%")</span></h3>
        <div class="row profile-completeness">

            <div class="col-sm-6 col-md-3 mb-4 mb-md-0">
                <div class="border rounded p-3 text-center">
                    <span class="d-block text-10 text-light mt-2 mb-3">
                        <i class="fas fa-mobile-alt"></i>
                    </span>
                    @if (this.Model.HasPhoneAdded)
                    {
                        <span class="text-5 d-block text-success mt-4 mb-3">
                            <i class="fas fa-check-circle"></i>
                        </span>
                        <p class="mb-0">Phone Added</p>
                    }
                    else
                    {
                        <span class="text-5 d-block text-light mt-4 mb-3">
                            <i class="far fa-circle "></i>
                        </span>
                        <p class="mb-0">
                            <a class="btn-link stretched-link" asp-area="" asp-controller="Users" asp-action="Index">Add Phone</a>
                        </p>
                    }
                </div>
            </div>

            <div class="col-sm-6 col-md-3 mb-4 mb-md-0">
                <div class="border rounded p-3 text-center">
                    <span class="d-block text-10 text-light mt-2 mb-3">
                        <i class="fas fa-envelope"></i>
                    </span>
                    @if (this.Model.HasEmailAdded)
                    {
                        <span class="text-5 d-block text-success mt-4 mb-3">
                            <i class="fas fa-check-circle"></i>
                        </span>
                        <p class="mb-0">Email Added</p>
                    }
                    else
                    {
                        <span class="text-5 d-block text-light mt-4 mb-3">
                            <i class="far fa-circle "></i>
                        </span>
                        <p class="mb-0">
                            <a class="btn-link stretched-link" asp-area="" asp-controller="Users" asp-action="Index">Add Email</a>
                        </p>
                    }
                </div>
            </div>

            <div class="col-sm-6 col-md-3 mb-4 mb-sm-0">
                <div class="border rounded p-3 text-center">
                    <span class="d-block text-10 text-light mt-2 mb-3">
                        <i class="fas fa-credit-card"></i>
                    </span>
                    @if (this.Model.HasCardAdded)
                    {
                        <span class="text-5 d-block text-success mt-4 mb-3">
                            <i class="fas fa-check-circle"></i>
                        </span>
                        <p class="mb-0">Card Added</p>
                    }
                    else
                    {
                        <span class="text-5 d-block text-light mt-4 mb-3">
                            <i class="far fa-circle "></i>
                        </span>
                        <p class="mb-0">
                            <a class="btn-link stretched-link" asp-area="" asp-controller="Financials" asp-action="Index">Add Card</a>
                        </p>
                    }
                </div>
            </div>

            <div class="col-sm-6 col-md-3">
                <div class="border rounded p-3 text-center">
                    <span class="d-block text-10 text-light mt-2 mb-3">
                        <i class="fas fa-university"></i>
                    </span>
                    @if (this.Model.HasBankAccountAdded)
                    {
                        <span class="text-5 d-block text-success mt-4 mb-3">
                            <i class="fas fa-check-circle"></i>
                        </span>
                        <p class="mb-0">Bank Added</p>
                    }
                    else
                    {
                        <span class="text-5 d-block text-light mt-4 mb-3">
                            <i class="far fa-circle "></i>
                        </span>
                        <p class="mb-0"><a class="btn-link stretched-link" asp-area="" asp-controller="Financials" asp-action="Index">Add Bank</a></p>
                    }
                </div>
            </div>
        </div>
    </div>
    <!-- Profile Completeness End -->


    <!-- Recent Activity =============================== -->
    <div class="bg-light shadow-sm rounded py-4 mb-4">
        <h3 class="text-5 font-weight-400 d-flex align-items-center px-4 mb-3">Recent Activity</h3>

        @*<vc:activities model="@this.Model.Activities"></vc:activities>*@
        <partial name="/Views/Shared/Components/Activities/Default.cshtml" model="@this.Model.Activities" />

        <!-- View all Link =============================== -->
        <div class="text-center mt-4"><a asp-area="" asp-controller="Activities" asp-action="Index" class="btn-link text-3">View all<i class="fas fa-chevron-right text-2 ml-2"></i></a></div>
        <!-- View all Link End -->

    </div>
    <!-- Recent Activity End -->
</div>
<!-- Middle Panel End -->
